@import '../../variables.scss';

.SmurfForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    form {
        display: flex;
        flex-direction: column;
        border: 1px solid $lightest;
        border-radius: 10px;
        background-color: $midLight;
        padding: 50px;
        input {
            margin: 5px;
            padding: 3px;
            text-align: center;
            border: 1px solid $midDark;
            background-color: $mid;
            color: $lightest;
        }
        button {
            margin: 5px;
            padding: 5px;
            border: 2px solid $mid;
            border-radius: 10px;
            background-color: $midDark;
            color: $mid;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
        }
    }
}